@keyframes title {
    from {color: white;}
    to {color: rgb(203, 203, 48);}
}

.header-title {
    font-size: 3em;
    text-align: center;
    color: rgb(203, 203, 48);
    animation-name: title;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}

div {
    margin-bottom: -10px;
}